pandas
numpy
scipy
pyarrow

pytest
httpx

scikit-learn
lightgbm
catboost
xgboost
shap

matplotlib
seaborn

fastapi
uvicorn[standard]
pydantic
cachetools
plotly

sqlalchemy<2.1
psycopg2-binary
python-dotenv
